main {
    #MainContent {
        background-color: #f2f2f2;
    }

    .shopify-section {
        margin: 0 auto;
        width: calc(100% - 150px);
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);

        .banner__media {
            height: 527px;
        }
    }

    .gradient{

        // a{
        //     display: none;
        // }
      .collection{
        li{
            // height: 40%;

            .card__badge{
                margin-top: 109px;
            }

            .card__media{
                img{
                    width: 40%;
                    // margin-left: 60px;
                    margin-top: 30px;
                
                }
            }
        }
      }
            .collection-list-wrapper{
        
                .card__inner{

                                height: 325px; 
                                margin-top: -15px;  
                            }
        
                            .card__content{
                                display: none;
                            }
            }

            .collection {
                .product-card-wrapper {
                    width: 235px;
                    padding: 0 3px;
                    display: block;
                    float: left;
            
                    .card__inner {
                        max-width: 100%;
                        margin: auto;
                        position: relative;
            
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                            position: absolute;
                        }
                    }
                }
            }
         }
       
    .banner {
        width: 100%;
        .page-width {
            padding: unset;
        }
    }

    .banner__media {
        width: 100%;
        margin-left: -1px;

        img {
            display: block;
            max-width: 100%;
        }
    }

    
    .product-card-wrapper {
        width: 235px;
        padding: 0 3px;
        display: block;
        float: left;

        .card__inner {
            max-width: 91px;
            margin: auto;

            img {
                max-width: 100%;
                width: 100%;
                position: absolute;
            }
        }
    }

    .media > img {
        object-fit: unset;
    }

    .collection-list__item{
        padding-bottom: 15px;
    }
    
}
