
.page-width{
    .product-form__buttons {
        max-width: 29rem;
        margin-left: 147px;
        margin-top: -73px;
      }
    .product{
        .product__info-wrapper{
            product-info{
                .product-form{
                    form{
                        .product-form__buttons{
                            margin-left: 147px;
                            margin-top: -75px;
                        }
                    }
                }
            }
        }
        ul {
            li{
                .product-media-container {
                    width: 40%;  
                    &:first-child {
                      width: auto;
                    }
                  }
            }
        }
        
        .product__description{
            margin-bottom: -262px;
            margin-left: -730px;
        }

       
    }

    .grid__item.product__media-wrapper{
        padding-bottom: 113px;
    }
      
}


    h1{
        font-size: 42px;
        font-weight: 800;
    }

    .product-type{
        margin: 0;
        font-family: Poppins, FFDINWebProBold, Arial, Helvetica, Sans-Serif;
        color:#d1d1d1;

    }

    .price{
        .price__regular{
            
            // .visually-hidden{
            //     display: none;
            // }
            .visually-hidden{
                display: none;
            }
            .price-item{
                font-size: 18px;
                line-height: 84%;
            
                display: block;
                 letter-spacing: -.05em;
            }

         

        }
    }

    variant-selects.no-js-hidden{
        margin-top: 70px;
        .product-form__input{
            .form__label{
                padding: 14px;
                font-size: 16px;
                font-weight: bold;
            }
            // label.form__label {
            //     // display: none;
            // }
            display: inline-block;
            width: 100%;
            color: #000;position: relative;
            display: inline-block;
            width: 100%;
            color: #000;
            position: relative;
        } 
        .product-form__input:first-child{
            border-top: 1px solid #f2f2f2;
           
            
    
        }
        .product-form__input--dropdown {
            border: none; // Remove border around the select element
          
            .select {
              border-top: 1px solid #f2f2f2; 
              label{
                font-weight: 700;
                font-size: 16px;
                padding: 13px;
              }
              .select__select,.icon{

                font-size: 16px;
                
              }

              .icon{
                font-weight: 300px;
              }
            }
          }    
    }

    .accordion{
    margin-top: 44px;
    margin-bottom: -4px;
    border-top: 0.1rem solid rgba(var(--color-foreground), .08);
    border-bottom: 0.1rem solid rgba(var(--color-foreground), .08);
    margin-left: -727px;
    width: 185px;

    }

    .price-per-item__container{
        width: 111px;
        .quantity__button{
            margin-top: -74px;
            width: 46px;
            svg{
                margin-top: 76px;
            }
        
        }
    }

    .product-form__submit{
        margin-left: -11%;
        margin-top: 1px;
        width: 327px;
    }
    

