//GLOBAL
$content-width: calc(100% - 154px);

// _variables.scss

// Colors
$primary-color: #363636;
$secondary-color: #b8b8b8;
$accent-color: #ffd100;
$error-color: #ed1a38;





// Sizes
$base-font-size: 16px;
$heading-font-size: 24px;
$paragraph-font-size: 18px;
$small-font-size: 14px;
$medium-font-size: 20px;
$large-font-size: 28px;
$extra-large-font-size: 36px;
